<div class="container">
    <%= render 'shared/errors' %>
    <%= form_with(model: @article, local: true) do |f| %>
    <div id="form"  class="text-center shadow p-3 mb-3 rounded" >
        <div class="form-group row">
            <p class="col-2 col-form-lable">
                <%= f.label :title %></br>
                <div class="col-10">
                    <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Article Title" %>
                </div>
            </p>
        </div>
        <div class="form-group row">
            <p class="col-2 col-form-lable">
                <%= f.label :description %></br>
                <div class="col-10">
                    <%= f.text_area :description, class: "form-control shadow rounded", placeholder: 'Article description' %>
                </div>
            </p>
        </div>

            <p>
            <%= f.submit "Submit", class: "btn btn-outline-success"%>
            </p>

    </div>
    <% end %>
    <p><%= link_to '[ Cancel and return to articles list ]', articles_path, class: "text-warning" %></p>

</div>